body {
  background-color: #181818;
  color: #ddd;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  padding: 10px;
  text-align: center;
  max-width: 393px;
  height: 852px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

h1 {
  color: #ff9800;
  font-size: 1.8em;  /* Smanjen font */
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  margin-bottom: 2px;
}

.tabs {
  margin: 15px 0;
}

.tab-button {
  background-color: #333;
  border: none;
  color: white;
  padding: 8px 15px; /* Manji razmak */
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin: 3px;
  border-radius: 5px;
}

.tab-button.active {
  color: #ff9800;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 10px;
}

th, td {
  padding: 10px;  /* Manji razmak u ćelijama */
  border: 1px solid #444;
  font-size: 0.75em; /* Manji font */
  font-weight: bold;
  text-align: center;
}

th {
  background-color: #222;
}

td {
  background-color: #333;
  color: #ddd;
}

/* Povećanje visine tabele za vertikalni razmak */
@media (max-width: 393px) {
  h1 {
    font-size: 2.5em; /* Manji font za ekran */
    padding: 60px;
  }
  table {
    font-size: 0.65em; /* Još manji font */
  }
  th, td {
    padding: 8px; /* Manji razmak unutar tabele */
  }
}
